@model List<WebApiGestorInventario.Models.Producto>
@{
    ViewBag.Title = "Gestión de Inventario";
}

<div class="section no-pad-bot blue lighten-5" id="index-banner">
    <br><br>
        <h1 class="header center  blue-text text-darken-3">Lista de Productos</h1>
    <div class="row center">
        <h5 class="header col s12 light">Productos consultados a través de la API.</h5>
    </div>
    <div class="row center">
        @Html.ActionLink("Añadir Producto", "NuevoProducto", null, new { @class = "btn blue" })
    </div>
    <br><br>
</div>

<div class="row">
    <table class="table striped">
        <tr>
            <th>Número</th>
            <th>Nombre Producto</th>
            <th>Tipo</th>
            <th class="text-center">Fecha de Caducidad</th>
            <th class="text-center">Acciones</th>
        </tr>
        @{foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Categoria.Nombre</td>
                    <td class="text-center">@item.FechaCaducidad.ToShortDateString()</td>
                    <td class="text-center">@Html.ActionLink("Sacar Producto", "SacarProducto", new { nombre = item.Nombre }, new { @class = "btn red" })</td>
                </tr>
            }
        }
    </table>
</div>