@model WebApiGestorInventario.Models.Producto
@{
    ViewBag.Title = "NuevoProducto";
}

@using (Html.BeginForm("NuevoProducto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="section no-pad-bot blue lighten-5" id="index-banner">
        <br><br>
        <h1 class="header center  blue-text text-darken-3">Nuevo Producto</h1>
        <div class="row center">
            <h5 class="header col s12 light">Nuevo producto para el inventario.</h5>
        </div>
        <br><br>
    </div>
    <div class="row">
        <div class="input-field col s6">
            @Html.TextBoxFor(m => m.Id, new { @class = "validate" })
            @Html.LabelFor(m => m.Id)
            @Html.ValidationMessageFor(m => m.Id)
        </div>
        <div class="input-field col s6">
            @Html.TextBoxFor(m => m.Nombre, new { @class = "validate" })
            @Html.LabelFor(m => m.Nombre)
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            @Html.DropDownList("CategoriaId", (SelectList)ViewBag.Categorias, "Selecciona Categoría", new { @class = "browser-default" })
        </div>
        <div class="input-field col s6">
            @Html.TextBoxFor(m => m.FechaCaducidad, new { @class = "datepicker" })
            @Html.LabelFor(m => m.FechaCaducidad)
            @Html.ValidationMessageFor(m => m.FechaCaducidad)
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Guardar" class="btn" />
    </div>
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {});
        instances.pickadate({
            monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
            selectMonths: true,
            selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
            today: 'Hoy',
            clear: 'Limpiar',
            close: 'Ok',
            labelMonthNext: 'Siguiente mes',
            labelMonthPrev: 'Mes anterior',
            labelMonthSelect: 'Selecciona un mes',
            labelYearSelect: 'Selecciona un año',
        });
    });
</script>

