<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Listado</title>

    <enviroments include="Develoment">
        <link rel="stylesheet" href="~/Content/materialize/css/materialize.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </enviroments>

    <enviroments exclude="Develoment">
        <link rel="stylesheet" href="~/Content/materialize/css/materialize.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </enviroments>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo center">INVENTARIO</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="@Url.Action("Index","Home")">Listado</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - InventarioTest</p>
        </footer>
    </div>

    <enviroment include="Development">
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/materialize/materialize.js"></script>
    </enviroment>

    <enviroment exclude="Development">
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/materialize/materialize.js"></script>
    </enviroment>

    @RenderSection("scripts", required: false)
</body>
</html>
